<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuhu.socket.dao.PersonalInfoMapper" >
  <resultMap id="BaseResultMap" type="com.liuhu.socket.entity.PersonalInfo" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="person_id" property="personId" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DOUBLE" />
    <result column="total_share" property="totalShare" jdbcType="DOUBLE" />
    <result column="total_market_value" property="totalMarketValue" jdbcType="DOUBLE" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.liuhu.socket.entity.PersonalInfo" >
    insert into personal_info (id, person_id, total_amount, 
      total_share, total_market_value, update_date, 
      status)
    values (#{id,jdbcType=INTEGER}, #{personId,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DOUBLE}, 
      #{totalShare,jdbcType=DOUBLE}, #{totalMarketValue,jdbcType=DOUBLE}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liuhu.socket.entity.PersonalInfo" >
    insert into personal_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="personId != null" >
        person_id,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="totalShare != null" >
        total_share,
      </if>
      <if test="totalMarketValue != null" >
        total_market_value,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="personId != null" >
        #{personId,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="totalShare != null" >
        #{totalShare,jdbcType=DOUBLE},
      </if>
      <if test="totalMarketValue != null" >
        #{totalMarketValue,jdbcType=DOUBLE},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>