<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuhu.socket.dao.TradeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.liuhu.socket.entity.TradeInfo" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="person_id" property="personId" jdbcType="VARCHAR" />
    <result column="share_code" property="shareCode" jdbcType="CHAR" />
    <result column="trade_price" property="tradePrice" jdbcType="DOUBLE" />
    <result column="hand_num" property="handNum" jdbcType="DOUBLE" />
    <result column="trade_date" property="tradeDate" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.liuhu.socket.entity.TradeInfo" >
    insert into trade_info (id, person_id, share_code, 
      trade_price, hand_num, trade_date, 
      type, update_date, status
      )
    values (#{id,jdbcType=INTEGER}, #{personId,jdbcType=VARCHAR}, #{shareCode,jdbcType=CHAR}, 
      #{tradePrice,jdbcType=DOUBLE}, #{handNum,jdbcType=DOUBLE}, #{tradeDate,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=CHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.liuhu.socket.entity.TradeInfo" >
    insert into trade_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="personId != null" >
        person_id,
      </if>
      <if test="shareCode != null" >
        share_code,
      </if>
      <if test="tradePrice != null" >
        trade_price,
      </if>
      <if test="handNum != null" >
        hand_num,
      </if>
      <if test="tradeDate != null" >
        trade_date,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="personId != null" >
        #{personId,jdbcType=VARCHAR},
      </if>
      <if test="shareCode != null" >
        #{shareCode,jdbcType=CHAR},
      </if>
      <if test="tradePrice != null" >
        #{tradePrice,jdbcType=DOUBLE},
      </if>
      <if test="handNum != null" >
        #{handNum,jdbcType=DOUBLE},
      </if>
      <if test="tradeDate != null" >
        #{tradeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>